@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

/* Header */

header {
  height: 100vh;
  background: url(../img/background2-09.png) bottom no-repeat;
  background-size: 100%;
  max-width: 1600px;
  margin: auto;
}

#header-title {
  width: 80%;
  height: 100%;
  margin: auto;
  color: #444;
  font-size: 40px;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.large-title-1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-left: 10px;
  color: #222;
}

.large-title-2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin-left: 179px;
  color: #222;
}

.find-out-btn {
  margin: 32px 0 0 179px;
  font-size: 22px;
  line-height: 65px;
  text-decoration: none;
  color: #FFF;
  border: solid 4px #222;
  padding: 0 35px;
  z-index: 1;
  transition: 0.3s;
}

.find-out-btn:hover {
  color: #222;
}

.btn-bg {
  width: 215px;
  height: 73px;
  transform: translate(192px, -62px);
  background: #f2515d;
  z-index: 0;
}

/* About */

#about { 
  padding: 140px 0;
}

.about-text {
  max-width: 620px;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0 10px 0;
  text-align: center;
  color: #444;
}

.skills-box-container {
  width: 80%;
  max-width: 1196px;
  margin: auto;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.skills-box {
  width: 30%;
  line-height: 25px;
  margin-top: 160px;
  padding-bottom: 30px;
}

.line {
width: 75px;
height: 10px;
margin-bottom: 25px;
transition: 0.2s;
}

.line-1 {
  background: #0e9ee5;
}

.line-2 {
  background: #f2515d;
}

.line-3 {
  background: #995dce;
}

.skills-box h3 {
  font-size: 20px;
  font-weight: 700;
}

.skills-sub-title {
  font-size: 20px;
  margin-top: 5px;
  color: #444;
}

.skills-text {
  margin-top: 20px;
  color: #444;
}

/* CV Download */

#cv {
  font-size: 22px;
  background: #f2f2f2;
  height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

#cv h3 {
  font-weight: 700;
}

#cv p:nth-child(2) {
  font-weight: 300;
  color: #444;
}

.cv-text {
  margin-right: 60px;
  margin-left: 186px;
} 

#cv a {
  border: solid 4px #222;
  padding: 10px 35px;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s;
  z-index: 1;
}

#cv a:hover {
  color: #222;
}

.btn-bg-cv{
  width: 178px;
  height: 68px;
  background: #0e9ee5;
  transform: translate(-166px, 11px);
  z-index: 0;
}

/* Portfolio */

#portfolio {
  padding: 140px 0 0 0;
}

.portfolio-text {
  max-width: 580px;
  margin: auto;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0 10px 0;
  text-align: center;
  color: #444;
}

.portfolio-item {
  display: flex;
  width: 80%;
  max-width: 1196px;
  margin: 120px auto;
  align-items: center;
}

.p-left {
  width: 40%;
  margin-right: 50px;
}

.p-right {
  width: 60%;
}

.p-line {
  width: 75px;
  height: 10px;
  margin-bottom: 25px;
  transition: 0.2s;
}

.portfolio-item h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.portfolio-item p {
  color: #444;
  font-size: 18px;
  line-height: 30px;
}

.tech-stack {
  margin-bottom: 16px;
}

.bold {
  font-weight: 700;
  padding-right: 8px;
  color: #222;
}

.p-link {
  border-bottom: solid 2px #444;
  text-decoration: none;
  color: #444;
  transition: 0.3s;
}

.p-link-1:hover {
  color: #995dce;
  border-bottom: solid 2px #995dce;
}

.p-link-2:hover {
  color: #f2515d;
  border-bottom: solid 2px #f2515d;
}

.p-link-3:hover {
  color: #0e9ee5;
  border-bottom: solid 2px #0e9ee5;
}

/* Contact */

#contact {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 0;
  font-size: 16px;
}

.form-container {
  width: 80%;
  max-width: 800px;
  color: #444;
  margin-top: 50px;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 16px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #444;
  margin-top: 16px;
  border: solid 3px #e0e0e0;
}

#submit-btn {
  border: solid 4px #222;
  color: #FFF;
  padding: 15px 35px;
  margin-top: 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  position: absolute;
  z-index: 1;
}
.submit-bg {
  width: 147px;
  height: 60px;
  background: #995dce;
  transform: translate(10px, 26px);
  position: relative;
  z-index: 0;
}

#submit-btn:hover {
  color: #222;
}

/* Footer */

footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #222; 
  font-size: 40px;
  padding: 0 16px;
  transition: 0.3s;
}

footer a:first-child:hover {
  color: #f2515d; 
}

footer a:nth-child(2):hover {
  color: #10a0bc; 
}

footer a:nth-child(3):hover {
  color: #995dce; 
}

footer a:last-child:hover {
  color: #0e9ee5; 
}

footer p {
  color: #666;
  margin-top: 32px;
}

/* General Styling */

.sub-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

#cv, #contact {
  margin: 0 20px;
}

.line-expand {
  width: 125px;
}

.link-hover-1 {
  text-decoration: none;
  border-bottom: solid 2px #f2515d;
  color: #f2515d;
  transition: 0.3s;
}

.link-hover-1:hover {
  color: #0e9ee5;
  border-bottom: solid 2px #0e9ee5;
}

.link-hover-2 {
  text-decoration: none;
  border-bottom: solid 2px #0e9ee5;
  color: #0e9ee5;
  transition: 0.3s;
}

.link-hover-2:hover {
  color: #f2515d;
  border-bottom: solid 2px #f2515d;
}

/* Media queries */

@media only screen and (max-width: 426px) {
  /* Header */
  header {
    background: none;
  }

  #header-title {
    width: 75%;
    font-size: 22px;
    line-height: 50px;
  }

  #header-title h1 {
    margin: 80px 0 10px 0;
  }

  .large-title-1 {
    font-size: 36px;
    margin-left: 5px;
  }
  
  .large-title-2 {
    font-size: 36px;
    margin-left: 0px;
  }
  
  .find-out-btn {
    margin: 40px 0 0 0;
    font-size: 18px;
    line-height: 50px;
    padding: 0 20px;
  }

  .btn-bg {
    width: 160px;
    height: 58px;
    transform: translate(10px, -48px);
  }

  /* About */
  #about { 
    padding: 60px 0;
  }

  .sub-title {
    font-size: 25px;
  }

  .about-text {
    font-size: 16px;
    line-height: 25px;
    width: 85%;
    max-width: 280px;
  }

  .about-text br{content:' ';}
  .about-text br:after{content:' ';}

  .skills-box-container {
    width: 85%;
    flex-direction: column;
  }
  
  .skills-box {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 0px;
  }

  /* CV Download */

  #cv {
    font-size: 20px;
    height: 50vh;
    flex-direction: column;
    line-height: 25px;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  #cv p:nth-child(2) {
    margin-top: 10px;
    font-size: 18px;
  }

  .cv-text {
    margin-right: 0px;
    margin-left: 0px;
    padding: 40px 16px 32px 16px;
  }

  #cv a {
    padding: 10px 30px;
    font-size: 18px;
  }

  .btn-bg-cv{
    width: 150px;
    height: 53px;
    transform: translate(10px, -43px);
  }

  /* Portfolio */
  #portfolio { 
    padding: 60px 0;
  }

  .portfolio-text {
    font-size: 16px;
    line-height: 25px;
    width: 90%;
    max-width: 340px;
  }

  .portfolio-text br{content:' ';}
  .portfolio-text br:after{content:' ';}

  .portfolio-item {
    flex-direction: column;
    width: 85%;
    margin: 50px auto 0 auto;
    align-items: center;
  }

  .p-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
    font-size: 16px;
  }

  .p-left h3 {
    font-size: 20px;
  }

  .p-left p {
    font-size: 16px;
  }
  
  .p-right {
    width: 100%;
  }

  .p-right p {
    font-size: 16px;
  }

  /* Contact */

  #contact {
    width: 90%;
    margin: auto;
    padding: 60px 0;
  }

  .form-container {
    width: 90%;
    margin-top: 25px;
  }

  input[type=text], input[type=email], textarea {
    padding: 10px;
    margin-bottom: 20px;

    font-size: 16px;
    margin-top: 16px;
  }

  #submit-btn {
    padding: 12px 30px;
    margin-top: 10px;
    font-size: 18px;
  }
  .submit-bg {
    width: 124px;
    height: 50px;
    transform: translate(10px, 20px);
  }

  /* Footer */

  footer {
    height: 25vh;
  }

  footer a {
    font-size: 32px;
    padding: 0 10px;
  }

  footer p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 321px) {
  #header-title {
    width: 85%;
  }
}

