RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]
RewriteRule ^#home$ / [R=301,L]
RewriteRule ^#about$ / [R=301,L]
RewriteRule ^#portfolio$ / [R=301,L]
RewriteRule ^#contact$ / [R=301,L]
